@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply max-w-sm rounded overflow-hidden shadow-lg;
    }
}

html,
body {
    height: 100%;
}

body {
    font-size: 1rem;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.defaultLayoutContent {
    flex: 1 0 auto;
}

.var--footer {
    flex-shrink: 0;
}