@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply max-w-sm rounded overflow-hidden shadow-lg;
    }

    p,
    ul {
        @apply leading-relaxed;
    }
}

html,
body {
    height: 100%;
}

body {
    font-size: 1rem;
    color: #333333;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.defaultLayoutContent {
    flex: 1 0 auto;
}

.var--footer {
    flex-shrink: 0;
}

.background-1 {
    background-color: $bgc-1;
    color: #486b79;
}

.background-orange {
    background-color: $orange-cna;
}

.background-red {
    background-color: $red-cna;
}

.text-orange-cna {
    color: $orange-cna;
}